body.seal{
 background: no-repeat;
 background-image: url('../images/seal.png');
 background-position: right 50px;
 background-color: #f8f2e6;
}

body.seal{
	font-family: 'Nunito', sans-serif;
}
h1 a.seal-link{
	font-family: 'Nunito', sans-serif;
	color:#000;
	font-size:4rem;
		-webkit-text-stroke-width: none;
   -webkit-text-stroke-color: none;
}
}
h1 a:hover{
	color:#40ff00;
	text-decoration: none;
	}
.seal-text{
	display:block;
	padding: 30px;
}

